#page-container {padding: 0;}

.page-background {background-color: #dfe8e5;}

.navbar {background-color: white;
    padding: 0;}

.nav-item a {color: black;}

#latitude {background-color: #2c665d;
    color: white;
    padding: 5px;}

/* #latitude a {color: white;} */

h2 {color: #2c665d;}

h3 {color: #2c665d;}

h5 {color: #2c665d;
    text-align: center;}

#summary {background-color: white;
    padding: 20px;
    border: #2c665d;}

#visualizations {background-color: white;
    padding: 20px;}

#content-block {display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;}

#visual_selection {border-color: #2c665d;}

@media (max-width: 967px) {
    #content-block {display: inline-block;
    margin: auto;}
    
    .page-background {background-color: white;}

@media  (max-width: 577px) {
    .navbar {background-color: #2c665d;}

    .nav-item a {color: white;}

    .dropdown-menu a {color: #2c665d;}

    #xyz {overflow-x: scroll;}
}
